#uno {
    background-color: orange;
}

.cuadrado {
    width: 400px;
    height: 400px;
}

.center {
    text-align: center;
}

#capa1 {
    background-color: #333;
    color: #fff;
    /* ancho de la ventana */
    width: 25vw;
    /* alto de la ventana */
    height: 25vw;
}

.border {
    border-width: 5px;
    border-color: #fff;
    border: 5px solid;
    border-radius: 10%;
    border-top-color: yellow;
    border-right-color: red;
    border-bottom-color: blue;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

#capa2 {
    background-color: #ccc;
    color: #fff;
    width: 27vw;
    height: 27vw;
    overflow: auto;
}

body {
    background-image: url(../img/descarga.jfif);
}